:root {
  --cor-fundo: #2F2E41;
  --cor-destaque: #00BFA6;
  --cor-texto: #FFFFFF;
  --cor-paragrafo: #C2C2C2;

  --fonte-texto :'JetBrains Mono', monospace;
  --fonte-paragrafo: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: var(--cor-fundo);
  font-family: var(--fonte-texto);
}

.page {
  width: 1092px;
  margin: 0 auto;
}


/* CABEÇALHO */
.navegacao {
  display: flex;
  justify-content: space-between;
  margin: 71px 0 101px;
}

.links {
  display: flex;
  gap: 64px;
  list-style: none;
}

.navegacao__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
}


/* SEÇÃO PRINCIPAL */
.container__principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 157px;
}

.titulo__principal {
  width: 614px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: var(--cor-texto);
  margin-bottom: 59px;
}

.titulo__principal span {
  color: var(--cor-destaque);
}

.texto__principal {
  width: 604px;
  font-family: var(--fonte-paragrafo);
  color: var(--cor-paragrafo);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 16px;
}

.texto__principal strong {
  font-weight: 700;
}

.texto__principal span {
  font-weight: 700;
  color: var(--cor-destaque);
}


/* RODAPÉ */
#linha {
  width: 568px;
  height: 0;
  border: 1px solid var(--cor-destaque);
  margin: 0 auto 27px;
}

.rodape {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: var(--cor-texto);
  margin-bottom: 23px;
}

.rodape__link {
  text-decoration: none;
  color: var(--cor-texto);
}

#cadeado {
  position: fixed;
  bottom: 20px;
  left: 20px;
}