:root {
  --cor-fundo: #2F2E41;
  --cor-destaque: #00BFA6;
  --cor-texto: #FFFFFF;
  --cor-paragrafo: #C2C2C2;

  --fonte-texto :'JetBrains Mono', monospace;
  --fonte-paragrafo: 'Open Sans', sans-serif;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--cor-fundo);
  font-family: var(--fonte-texto);
}

.page {
  width: 109.2rem;
  margin: 0 auto;
}


/* CABEÇALHO */
.navegacao {
  display: flex;
  justify-content: space-between;
  margin: 7.1rem 0 10.1rem;
}

.links {
  display: flex;
  gap: 6.4rem;
  list-style: none;
}

.navegacao__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: #FFFFFF;
}


/* SEÇÃO PRINCIPAL */
.container__principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 15.7rem;
}

.titulo__principal {
  width: 61.4rem;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.0rem;
  color: var(--cor-texto);
  margin-bottom: 5.9rem;
}

.titulo__principal span {
  color: var(--cor-destaque);
}

.texto__principal {
  width: 60.4rem;
  font-family: var(--fonte-paragrafo);
  color: var(--cor-paragrafo);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin-bottom: 1.6rem;
}

.texto__principal strong {
  font-weight: 700;
}

.texto__principal span {
  font-weight: 700;
  color: var(--cor-destaque);
}


/* RODAPÉ */
#linha {
  width: 56.8rem;
  height: 0;
  border: 1px solid var(--cor-destaque);
  margin: 0 auto 2.7rem;
}

.rodape {
  text-align: center;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: var(--cor-texto);
  margin-bottom: 2.3rem;
}

.rodape__link {
  text-decoration: none;
  color: var(--cor-texto);
}

#cadeado {
  position: fixed;
  bottom: 2.0rem;
  left: 2.0rem;
}